In [1]:
## web scraping practice from udacity
import os
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
df_list = []
folder = 'rt_html'
for web in os.listdir(folder):
    with open(os.path.join(folder, web), 'rb') as file:
        soup = BeautifulSoup(file)
        title = soup.find('title').contents[0][:-len('(1957) - Rotten Tomatoes')]
        audience_score = soup.find('span', attrs = {'class':'superPageFontColor', 'style':'vertical-align:top'}).contents[0][:-1]
        average_rating = soup.find('div', attrs = {'class':'audience-info hidden-xs superPageFontColor'}).find_all('div')[0].contents[2].split()[0][:-2]
        user_rating = soup.find('div', attrs = {'class':'audience-info hidden-xs superPageFontColor'}).find_all('div')[1].contents[2].split()[0].replace(',','')
        df_list.append({'Title' : title, 'Audience Score' : int(audience_score), 'Average Rating' : float(average_rating), 'User Rating' : int(user_rating)})

In [3]:
import pandas as pd
df = pd.DataFrame(df_list)
df.head()

,Title,Audience Score,Average Rating,User Rating
0,12 Angry Men (Twelve Angry Men),97,4.2,103672
1,The 39 Steps,86,3.9,23647
2,The Adventures of Robin Hood,89,3.7,33584
3,All About Eve,94,4.3,44564
4,All Quiet on the Western Front,89,3.9,17768

In [4]:
df.to_csv('Top100movies.csv')